body {
    background-color:aliceblue;
}

#title {
    text-align: center;
}

#totalMonthlyValue {
    text-align: right;
}

.redColor {
    background-color: red;
    display: inline-block;
    float: right;
}
